body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 30%;
  
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.head{
font: 20px "Century Gothic", Futura, sans-serif;
font-weight: bold;
color:#fff;
text-align:center;
position:relative;
z-index:1010;
margin-top: 45%;
margin-right:60%;
}


.tail{
font: 20px "Century Gothic", Futura, sans-serif;
font-weight: bold;
color:#fff;
text-align:center;
position:relative;
z-index:1011;
margin-top: -9%;
margin-left:59%;
}


.square {

  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 60px;
  height: 300px;
  top: 2%;
  left: calc(50% - 145px);
  position:absolute;
  padding: 0;
  text-align: center;
  width: 300px;
  overflow-y:scroll;
 
 
}


.square:focus {
  outline: none;
  background-color: blue;

  
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {

  display: block;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
  
  
}

.screen {
  background: linear-gradient(red, yellow);
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 60px;

  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  
 background-color: black;
 text-align:center;
}

.wheel{
	top: 35px;
	left: calc(50% - 125px);
	width:250px;
	height:250px;
	border-radius:50%;	
	position:absolute;
	overflow:hidden;
	border:8px solid #fff;
	box-shadow:rgba(0,0,0,0.2) 0px 0px 10px, rgba(0,0,0,0.05) 0px 3px 0px;
	transform: rotate(0deg);
}
.thingy{
	position: absolute;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 9500px 65px 0;
	border-color: green transparent;
	transform-origin: 150px 369px;
	left:125px;
	top:-4px;	
	opacity:1;

}

.triangle-with-shadow {
  width: 80px;
  height: 150px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 16px 10px -17px rgba(0, 0, 0, 0.5);
}
.triangle-with-shadow:after {
  content: "";
  position: absolute;
  width: 30px;
  height: 50px;
  background: #999;
  transform: rotate(0deg); /* Prefixes... */
  top: 75px;
  left: 25px;
  box-shadow: -1px -1px 10px -2px rgba(0, 0, 0, 0.5);
}

.status{
	font: 20px "Century Gothic", Futura, sans-serif;
	font-weight: bold;
	color: black;
	text-align:center;
	position:absolute;
	top:350px;
	left: calc(50% - 25px);
	z-index: 1011;
}

.result{
	font: 20px "Century Gothic", Futura, sans-serif;
	font-weight: bold;
	text-align:center;
	padding:5px;
	margin:0;
	position:relative;
	left: calc(50% - 130px);
	background:lightblue;
	
}
.results{
	font: 20px "Century Gothic", Futura, sans-serif;
	font-weight: bold;
	text-align:center;
	position:absolute;
	top:350px;
	left: calc(50% - 25px);
	z-index: 1011;

}

.triangle{
	width: 0;
	height: 0;
	position:absolute;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 50px groove #91A8D0;
	top:20px;
	left: calc(50% - 11px);
	margin:auto;
	overflow:hidden;
	border-radius:50%;

}


.wheel div.sec{
	position: absolute;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 30px 10px 0;
	border-color: #19c transparent;
	transform-origin: 150px 369px;

	left:121px;
	top:-4px;	
	opacity:1;

}
.section1{
	position: absolute;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 390px 225px 0;
	border-color: #27c5ef transparent;
	transform-origin: 75px 129px;
	transform:rotate(30deg);
	left:50px;
	top:-4px;	
	opacity:0.7;
}


.section2{
	position: absolute;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 390px 225px 0;
	border-color:  #4b69c8 transparent;
	transform-origin: 75px 129px;
	transform:rotate(210deg);
	left:50px;
	top:-4px;	
	opacity: 0.7;
}


.innerwheel{
	width:90px;
	height:90px;
	position:absolute;
	top:50%;
	left:50%;
	margin:-45px 0 0 -45px;
	border-radius:50%;
	
	background:white;
	opacity:0.4;
  
  -webkit-user-select: none; 
  -moz-user-select: none;    
  -ms-user-select: none;     
  -o-user-select: none;
  user-select: none;   
}


.innerspin{
	width:54px;
	height:54px;
	position:absolute;
	top:50%;
	left:50%;
	margin:-27px 0 0 -27px;
	border-radius:50%;
	background:red;
	z-index:999;
	box-shadow:rgba(255,255,255,1) 0px -2px 0px inset, rgba(255,255,255,1) 0px 2px 0px inset,  rgba(0,0,0,0.4) 0px 0px 5px ;
	
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%, rgba(234,234,234,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(234,234,234,1))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(234,234,234,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(234,234,234,1) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(234,234,234,1) 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  rgba(255,255,255,1) 0%,rgba(234,234,234,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */	
}

.spin{
	width:68px;
	height:68px;
	position:absolute;
	top:50%;
	left:50%;
	margin:-34px 0 0 -34px;
	border-radius:50%;
	box-shadow:rgba(0,0,0,0.1) 0px 3px 0px;
	z-index:1000;
	background:#fff;
	cursor:pointer;
	font-family: 'Exo 2', sans-serif;
  
  -webkit-user-select: none; 
  -moz-user-select: none;    
  -ms-user-select: none;     
  -o-user-select: none;
  user-select: none;   
}

